<div>
    <p id="here">Here Is What Our ProGrads Have To Say</p>
<div id="review">
    <ul>
        <li><img src="../assets/img1.png"></li>
        <li> <h2>PRAVESH,FSD0A0221</h2></li>
    </ul>
    <P>In my academics,I learnt only theoretical concepts of programming but prograd emphasized my coding
        knowledge by teaching me a different approach in solving all the codinng problems.My mentor offered 
        me excellent support by guiding us on each step to improve my progress.
    </P>
</div>
<div id="hr"><hr></div>
<div id="review">
   <ul>
       <li><img src="../assets/img1.png"></li>
       <li><h2>ROBIN HOODA,FSD0OB0001</h2></li>
   </ul>
    <P>ProGrad not only helped me in utilizing my knowledge to the best of my capabilites but also nurtured my
        technical skills and competencies.
    </P>
</div>
</div>