<section>
    <div class="body">
        <h1>Hear it From Our ProGrads</h1>
        <p id="paragrah">
            Being a ProGrad is a life-time experience.In the past,
            we have several times tried showing the world what 
            is to be a ProGrad.But, we soon realised that no one 
            can better describe this journey than our ProGrads 
            themselves.
        </p>
         <p id="so">
            So here we are with a mission to let the world hear
            it from our ProGrads!
        </p>
        <p id="orange">
            #ProudProGrads #YourDreamOurMission
        </p>
    </div>
    <div>
        <img id ="lap" src="../assets/Untitled.png">
    </div>
</section>

